<form action="/create" method="POST">
<h2>create todo</h2>
<div class="input-field">
    <input type="text" name="title" id="">
    <label for="">Todo title</label>
</div>
<button type="submit" class="btn">Create</button>
</form>
