<h2>todos page</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
    <li class="todo">
        <label for="">
            {{#if completed}}
            <input type="checkbox" checked name="" id="">
            <span class="completed">{{title}}</span>
            {{else}}
            <input type="checkbox" name="" id="">
            <span>{{title}}</span>
            {{/if}}

            <button class="btn btn-small">Save</button>
        </label>
    </li>
    {{/each}}
</ul>
    {{else}}

<p>No todos</p>
{{/if}}